<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- START OF NAVBAR -->
<section class="header">
    <nav>
        
        <div class="nav-links" id="navLinks">
            <i class="fa fa-window-close" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="">PROFILE</a></li>
                <li><a href="">PRODUCTS</a></li>
                <li><a href="">MY CART</a></li>
                <li><a href="">MY ORDERS</a></li>
                <li><a href="">HISTORY</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <!-- END OF NAVBAR -->.
    

      <div class="container">
        <h2>Products</h2>
        
        <!-- Cart Items -->
        
        <div class="row">
            <% for(let product of products){ %>
            <!-- Cart Product 1 -->
            <div class="col-md-4">
                <div class="product-card">
                    <img src="/images/<%= product.imagename %>" alt="Product 1" class="product-image">
                </div>
            </div>
            
            <!-- Cart Product 1 Information -->
            <div class="col-md-8">
                <div class="product-info">
                    
                    <h5 id="name<%=product.pid%>"><%= product.prodname %></h5>
                    <p id="desc<%=product.pid%>"><%= product.description %></p>
                    <p id="price<%=product.pid%>"><%= product.price %></p>
                    <form class="edit-form hidden" action="/edit" method="post">
                        <input type="hidden" name="updatedItemId" value="<%= product.pid %>">
                        <input id="myinputname<%=product.pid%>" type="text" name="updatedItemTitle" value="<%= product.prodname %>" autocomplete="off"
                            autofocus="true" hidden/> <br>
                        <input id="myinputdesc<%=product.pid%>" type="text" name="updatedItemTitle" value="<%= product.description %>" autocomplete="off"
                            autofocus="true" hidden/><br>
                        <input id="myinputprice<%=product.pid%>" type="text" name="updatedItemTitle" value="<%= product.price %>" autocomplete="off"
                            autofocus="true" hidden/><br>
                        
                    </form>
                    <button id="mysave<%=product.pid%>" class="edit" onclick="handler('<%=product.pid%>')" hidden>Save</button>
                    <button id="myedit<%=product.pid%>" class="edit" onclick="handler('<%=product.pid%>')">EDIT</button>
                    
                    <button id="mydelete<%=product.pid%>" class="edit" onclick="handler('<%=product.pid%>')">DELETE</button>
                </div>
            </div>
            <% } %>
            <!-- Repeat the above structure for other cart products -->
            
            <!-- Cart Product 2 -->
            
        </div>
    </div>

<a class="hero-btn" href="/logout" role="button">Log Out</a>

        
    </section>
    <!-- Footer -->
<footer class="footer text-center">
    <p>&copy; 2023 E-commerce Store</p>
</footer>
<script>
    function handler(pid) {
        console.log(pid);
      document.getElementById("price" + pid).setAttribute("hidden", true);
      document.getElementById("name" + pid).setAttribute("hidden", true)
      document.getElementById("desc" + pid).setAttribute("hidden", true)
      document.getElementById("myedit" + pid).setAttribute("hidden", true)
      document.getElementById("mydelete" + pid).setAttribute("hidden", true)

      document.getElementById("myinputname" + pid).removeAttribute("hidden")
      document.getElementById("myinputdesc" + pid).removeAttribute("hidden")
      document.getElementById("myinputprice" + pid).removeAttribute("hidden")
      document.getElementById("mysave" + pid).removeAttribute("hidden")

      
    }
  </script>
</body>
</html>